.tour-itinerary_inner {
    color: var(--chapter-font-color);
    background-color:var(--background-dark);
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding: 90px 0;
    /* padding: 30px 24px 90; */
    margin: -1px 0 0;
}

.tour-itinerary__wrapper {
    display: flex;
    flex-direction: column;
}

.tour-itinerary-items {
    padding: 31px 27px;
    margin: 50px 0 0;
    width: auto;
    display: flex;
    flex-direction: column;
}
.map-of-norway-image{
    display: flex;
    /* display: block; */
    max-width: 100%;
    /* max-height: 100%; */
    padding: 0px 15px;
    object-fit: cover;
}
.tour-itinerary-header{
    display: flex;
}
.tour-itinerary-header-name {
    font-size: 12px;
    margin-top: 50px; 
}
.tour-itinerary-title{
    margin-top: 20px;
}
.tour-itinerary-chapter{
    margin-top: 25px;
    font-size: 17px;
    font-weight: 400;
    height: auto;
    letter-spacing: 0.51px;
    line-height: 28.9px;
    overflow-wrap: break-word;
    text-align: left;
    color: var(--color-accordion);
    display: flex;
}
.tour-itinerary-guarantees{
   margin-top: 20px;
}
.tour-itinerary-guarantees-card{
    margin: 7.5px 0;
    display: inline-block;
    padding: 7.5px 0;
    overflow-wrap: break-word;
    text-align: left;
    display: flex;
}

.tour-itinerary-guarantees-card-text-block {
    display: flex;
    flex-direction: column;
    margin: 7.5px;
}

.tour-itinerary-guarantees-card-img-block {
    display: flex;
    margin: 7.5px 7.5px 7.5px 0;
}

.tour-itinerary-guarantees-card-title {
    color: var(--title-font-color-light);
    font-size: 18px;
    font-weight: 700;
}

.tour-itinerary-guarantees-card-img-block-bg {
    border-radius: 50%;
    background-color: var(--background-dark);
    filter: drop-shadow(2px 4px 6px black);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tour-itinerary-guarantees-card-icon {
    padding: 5px;
    width: 40px;
    height: 40px;
}
.tour-itinerary-guarantees-card-chapter {
    line-height: 24px;
    font-size: 14px;
    color: var(--color-accordion);
    flex-direction: column;
}

@media (min-width: 760px) {
    .tour-itinerary_inner{
        display: flex;
        justify-content: center;
        align-items:flex-start;
    }
    .map-of-norway-image{
        width: auto;
    }

    .tour-itinerary-guarantees-card-title {
        font-size: 19px;
    }

    .tour-itinerary__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .tour-itinerary-items {
        margin: 0;
    }
}

@media (min-width: 992px) {
    .tour-itinerary_inner{
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items:flex-start;
        padding: 90px, 240px, 90px;
    }
    .map-of-norway-image{
        width: auto;
    }

    .tour-itinerary-guarantees-card-title {
        font-size: 21px;
    }

    .tour-itinerary-guarantees-card-chapter {
        font-size: 15px;
    }
}
