.testimonials__section {
  background-position: 50% 70%;
  background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)),
    url(../img/testimonials-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 0;
}

.sign-start-chapter {
  color: var(--sign-start-color);
}

.testimonials__main {
  margin: 50px 0 0;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.testimonials__section-title {
  font-weight: 500;
  color: var(--title-font-color);
  font-size: 12px;
}

.testimonials__travelers-share {
  font-family: Playfair Display;
  font-weight: 700;
  color: var(--title-font-color);
  margin-top: 2rem;
  font-size: 34px;
  text-align: center;
}

.testimonials__about-norway {
  line-height: 1.9rem;
  color: var(--title-font-color);
  margin-top: 25px;
  font-size: 19px;
}

.carousel-images {
  margin-top: 4rem;
  margin-bottom: 4rem;
  border-radius: 50%;
  width: 100%;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
}

.testimonials-img {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 3.5rem;
}

.carousel-title {
  color: var(--title-font-color);
  font-weight: 500;
  margin-top: 1.5rem;
  font-size: 22px;
  text-align: center;
}

.carousel-text-block {
  color: var(--title-font-color);
  line-height: 1.9rem;
  margin-top: 2rem;
  width: 70%;
  margin-left: 17%;
  text-align: center;
}

.carousel-date {
  color: var(--title-font-color);
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 100%;
  font-weight: 600;
  text-align: center;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: var(--chapter-font-color);
}

.swiper-pagination-bullet-active {
  background-color: var(--chapter-font-color) !important;
}

@media screen and (min-width: 767px) {
  .testimonials__travelers-share {
    font-size: 39px;
  }

  .container {
    padding: 0 32px;
  }
}